<%- include('./partials/header.ejs'); %>

    <div class="manageUser-container">
      <div id="title">
        <h2>Manage Users</h2>
      </div>

      <div class="new-message-container new-user">
        <a href="#" onclick="openModal()">+</a>
      </div>

      <div id="users-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody id="users-table">
            <% users.forEach(function(user) { %>
              <tr id="<%= user._id %>">
                <td class="name">
                  <% if(user.avatar) { %>
                    <img src="./../uploads/avatars/<%= user.avatar %>" />
                  <% } else { %>
                    <img src="./images/nophoto.png" />
                  <% } %>
                  <span><%= user.name %></span>
                </td>
                <td><%= user.email %></td>
                <td class="manage">
                  <img onclick="deleteUser('<%= user._id %>')" src="./images/trash.png" alt="Delete" />
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <%- include('./partials/add-user-modal.ejs'); %>

    <script>
      const deleteToast = Toastify({
        text: "User Deleted Successfully",
        duration: 3000,
        close: true,
        gravity: "top", // `top` or `bottom`
        position: "center", // `left`, `center` or `right`
      });

      const deleteUserErr = Toastify({
        text: "Error Deleting User",
        duration: 3000,
        close: true,
        gravity: "top", // `top` or `bottom`
        position: "center", // `left`, `center` or `right` 
      });

      async function deleteUser(id) {
        alert(id)
        try {
          const response = await fetch(`/user/${id}`, {
            method: "DELETE",
          });
          const data = await response.json();
         if(data.errors){
          deleteUserErr.showToast();
         }else{
          deleteToast.showToast();
          document.getElementById(id).remove();
         }
        } catch (error) {
          console.log(error);
        }
      }

    </script>
  </body>
</html>
